article.confirm {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0%;
    height: 100%;
    width: 100%;
    z-index: 999;
}
article.confirm.active {
    display: flex;
}
article.confirm > article {
    position: absolute;
    top: -15rem;
    width: 94%;
    margin: 0 1rem;
    margin-top: 1rem;
    border: 1px solid #dbdbdb;
    border-radius: 1rem;
    background: #ffffff;
    transition-duration: 0.3s;
}
article.confirm.active > article.active {
    top: 0;
}
article.confirm > article > .title {
    padding: 1.7rem 0.5rem 1.5rem 0.5rem;
    text-align: center;
}
article.confirm > article > .title > h4 {
    margin-bottom: 4px;
    color: #555;
}
article.confirm > article > .title > p {
    font-size: 1.4rem;
    font-weight: 600;
}
article.confirm > article > .btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
article.confirm > article > .btn-wrapper > button {
    all: unset;
    width: 100%;
    text-align: center;
    padding: 0.8rem 0;
    border-top: 1px solid #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: center;
}
article.confirm > article > .btn-wrapper > button > p {
    font-size: 1.2rem;
    font-weight: 600;
}
article.confirm > aside {
    width: 100%;
    flex-grow: 1;
    background-color: #00000030;
}
