nav.myProductNav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--base-color);
    color: #ffffff;
    z-index: 998;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition-duration: 0.6s;
    box-shadow: 0 -4px 10px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
nav.myProductNav > .product-wrapper {
    display: flex;
    align-items: center;
    padding-top: 0.3rem;
}
nav.myProductNav > .product-wrapper > .size > p {
    font-size: 2.8rem;
    font-weight: 400;
    padding: 0.7rem 0.9rem;
}
nav.myProductNav > .product-wrapper > .info {
    flex-grow: 1;
    overflow: hidden;
}
nav.myProductNav > .product-wrapper > .info > p {
    position: relative;
    left: 2px;
    font-size: 0.8rem;
    color: #eee;
}
nav.myProductNav > .product-wrapper > .info > h1 {
    font-size: 1.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
nav.myProductNav > .product-wrapper > .info > h2 {
    font-size: 0.9rem;
    color: #888;
    position: relative;
    top: -2px;
    left: 2px
}
nav.myProductNav > .product-wrapper > .info > div {
    position: relative;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    
}
nav.myProductNav > .product-wrapper > .info > div > p {
    color: #ccc;
}
nav.myProductNav > .product-wrapper > .info > div > b {
    color: #ccc;
    padding: 0 0.5rem;
}
nav.myProductNav > .product-wrapper > .empty {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav.myProductNav > .product-wrapper > .empty > p {
    font-size: 1.3rem;
    font-weight: 300;
}
nav.myProductNav > .product-wrapper > .changeBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 100%;
    border-left: 1px solid #fff;
}
nav.myProductNav > .product-wrapper > .changeBtn.active > i {
    border-radius: 50%;
    font-size: 1.6rem;
    padding: 0.1rem;
    background-color: #fff;
    color: #00966B;
}

/*
    button
*/
nav.myProductNav > .btn-wrapper {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #dbdbdb;
    color: #dbdbdb;
}
nav.myProductNav > .btn-wrapper > button {
    all: unset;
    width: 100%;
    font-weight: 500;
    text-align: center;
    border-left: 1px solid #dbdbdb;
    padding: 0.7rem 0;
}
nav.myProductNav > .btn-wrapper > button:first-of-type {
    border-left: none;
}


nav.myProductNav  > .open-btn {
    position: absolute;
    z-index: 999;
    left: -5.5rem;
    bottom: 0rem;
    width: 5.5rem;
    height: 5.5rem;
    background-color: var(--base-color);
    box-shadow: 0 -4px 10px #88888830;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav.myProductNav  > .open-btn > span {
    position: absolute;
    left: 0.5rem;
}
nav.myProductNav  > .open-btn > i {
    font-size: 3.0rem;
}

/*
    NONE
*/
nav.myProductNav > .product-wrapper > h2.none {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.3rem;
    font-weight: 400;
}


/*
    DETAIL
*/
article#detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    z-index: 998;
    overflow: auto;
}

article#detail > .title {
    display: flex;
    align-items: center;
    padding: 2rem 1rem 0.5rem 2rem;
}
article#detail > .title > h1 {
    font-size: 1.8rem;
    font-weight: 600;
    flex-grow: 1;
}
article#detail > .title > i {
    padding: 0.5rem;
    font-size: 2.0rem;
}
article#detail > section {
    padding: 0.5rem 2rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #dbdbdb;
}
article#detail > section > .title {
    display: flex;
    align-items: center;
}
article#detail > section:last-of-type {
    padding-bottom: 9.1rem;
    border-bottom: none;
}
article#detail > section > p {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--base-color);
    margin-bottom: 0.5rem;
}
article#detail > section div {
    margin-bottom: 0.5rem;
}

article#detail > section > div.row {
    display: flex;
    align-items: center;
}
article#detail > section > div.row > div {
    width: 100%;
}
article#detail > section > div p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 2px;
}
article#detail > section > div h2 {
    font-size: 1.3rem;
    font-weight: 600;
    
}

/*
    Expand Document
*/
article#detail > section.expand-wrapper {
    
}
article#detail > section > .title {
    display: flex;
    align-items: center;
}
article#detail > section > .title > p:first-of-type {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--base-color);
    flex-grow: 1;
}
article#detail > section.expand-wrapper > .expand-frame {
    overflow: hidden;
    height: 0;
    margin: 0;
}
article#detail > section.expand-wrapper.on > .title > i {
    transform: rotate(180deg);
}
article#detail > section.expand-wrapper.on > .expand-frame {
    height: auto;
}
/*
    Size Info
*/
article#detail > section > ul {

}
article#detail > section > ul > li {
    display: flex;
    align-items: center;
    height: 3rem;
    border-bottom: 1px solid #dbdbdb;
}
article#detail > section > ul > li > p {
    flex-grow: 1;
}
article#detail > section > ul > li > h2 {
    font-weight: 500;
}
article#detail > section > .btn-frame {
    width: 100%;
}
article#detail > section > .btn-frame > button {
    all: unset;
    width: 100%;
    padding: 0.8rem 0;
    font-weight: 500;
    text-align: center;
    background-color: var(--system-gray-2);
    border-radius: 0.5rem;
}