section#Event {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 5vh;
    background: #f0f2f5;
}
section#Event > header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 2rem 0;

}
section#Event > header > button {
    all: unset;
    position: relative;
    top: 2px;
    padding: 1rem;
    margin-right: 1rem;
    
}
section#Event > header > .title {
    padding-left: 2rem;
    flex-grow: 1;
}
section#Event > header > .title > h1 {
    font-size: 2.3rem;
    font-weight: 500;
}
section#Event > article > section {
    width: 100vw;
    background-color: #ffffff;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    padding: 1rem 0.5rem 0 0.5rem;
    margin-bottom: 1rem;
}
section#Event > article > section > .title {
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;
}
section#Event > article > section > .title > h2 {
    font-size: 1.0rem;
    font-weight: 400;
    color: #888;
}
section#Event > article > section > div.none {
    text-align: center;
    padding: 1rem 0 2rem 0;
    
}
section#Event > article > section > div.none > i {
    font-size: 5.0rem;
}
section#Event > article > section > div.none > p {
    font-size: 1.2rem;
    font-weight: 300;
}

/*
    option
*/

section#Event > ul {
    min-width: 100vw;
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding-bottom: 1rem;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
section#Event > ul::-webkit-scrollbar {
    display: none
}
section#Event > ul > li {
    margin: 0 0.3rem;
    padding: 0.5rem 1.2rem;
    background-color: #ffffff;
    font-size: 1.2rem;
    border-radius: 2rem;
    font-weight: 400;
    border: 1px solid #dbdbdb;
    cursor: pointer;
}
section#Event > ul > li.active {
    background-color: #464444;
    color: #ffffff;
}
section#Event > ul > li:first-of-type {
    margin-left: 1rem;
}
section#Event > ul > li:last-of-type {
    margin-right: 1rem;
}
/*
    List
*/
section#Event > article > .promotion > ul {
    padding: 0 0.5rem;
}
section#Event > article > .promotion > ul > li {
    margin-bottom: 1rem;
}
section#Event > article > .promotion > ul > li > a > .info {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
section#Event > article > .promotion > ul > li > a > .info > div {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
section#Event > article > .promotion > ul > li > a > .info > div > h3 {
    font-size: 1.4rem;
    font-weight: 400;
}
section#Event > article > .promotion > ul > li > a > .info > div > p {
    color: #ffffff;
    padding: 0.2rem 0.7rem;
    margin-left: 0.7rem;
    border-radius: 1rem;
}
section#Event > article > .promotion > ul > li > a > .info > p {
    font-size: 1.1rem;
}
section#Event > article > .promotion > ul > li > a > img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 0.7rem;
}

