.setting-list {
    
}
.setting-list > header {
    display: flex;
    align-items: center;
    padding: 2rem;
    padding-top: 3rem;
}
.setting-list > header > h1 {
    font-size: 2.0rem;
    font-weight: 700;
    flex-grow: 1;
}
.setting-list > header > i {
    padding-bottom: 0.3rem;
}
.setting-list > main {

}
.setting-list > main > div {
    margin-bottom: 1rem;
    border-bottom: 1px solid #e3e8ee;
    padding: 1rem 2rem 2rem 2rem;
}
.setting-list > main > div:last-of-type {
    border-bottom: none;
}
.setting-list > main > div > h2 {
    font-size: 1.1rem;
    color: #888;
    margin-bottom: 1rem;
}
.setting-list > main > div > ul {

    
}
.setting-list > main > div > ul > li {
    padding-bottom: 2rem;
}
.setting-list > main > div > ul > li:last-of-type {
    padding-bottom: 0;
}
.setting-list > main > div > ul > li > a {
    display: flex;
    align-items: center;
    position: relative;
}
.setting-list > main > div > ul > li > a > i {
    font-size: 2.0rem;
}

.setting-list > main > div > ul > li > a > p {
    position: relative;
    top: 1px;
    margin-left: 1.2rem;
    font-size: 1.4rem;
}