#account {
    height: 100vh;
    background: #fff;
    overflow: hidden;
}
#account > .logo-wrapper {
    padding-top: 2rem;
}
#account > .logo-wrapper > .logo-frame {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 0.5rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.8rem;
    background-color: var(--base-color);
}
#account > .logo-wrapper > .logo-frame > i {
    color: #fff;
    font-size: 1.5rem;
}
#account > article {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#account > article > .title {
    z-index: 888;
    text-align: center;
}
#account > article > .title > h1 {
    font-size: 2.3rem;
    font-weight: 500;
    padding: 0 2rem;
    margin-bottom: 0.3rem;
    letter-spacing: 1px;
    
}
#account > article > .title > p {
    font-size: 1.1rem;
}
#account > article > div.img {
    padding-bottom: 10rem;
    z-index: 777;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#account > article > div > img {
    width: 83vw;
    z-index: 777;
}


/*
    Login Type Frame
*/
#account > section.login-type-frame {
    z-index: 999;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    padding-top: 1.3rem;
    background: #fff;
    box-shadow: 0 -10px 10px #88888810;
    border-top: 1px solid #dbdbdb;
}
#account > section.login-type-frame > div {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#account > section.login-type-frame > div > button {
    all: unset;
    width: 100%;
    padding: 0.7rem 0;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.7rem;
}
#account > section.login-type-frame > div > button.facebook {
    background: #166FE5;
    color: #ffffff;
}
#account > section.login-type-frame > div > button.naver {
    background: #19CE60;
    color: #ffffff;
}

#account > section.login-type-frame > div > button.kakao {
    background: #FAE100;
    color: #3C1E1E;
}
/*
    terms wrapper
*/
#account > section.terms-wrapper {
    position: fixed;
    bottom: -30%;
    box-shadow: 0 -10px 10px #88888810;
    border-top: 1px solid #dbdbdb;
    z-index: 999;
    background-color: #fff;
    width: 100%;
    padding-bottom: 1rem;
    text-align: center;
    transition-duration: 0.4s;
}
#account > section.terms-wrapper.active {
    bottom: 0;
}
#account > section.terms-wrapper > i {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.5rem;
    font-size: 1.8rem;
    
}
#account > section.terms-wrapper > .login-type {
    margin: 1rem 0;
}
#account > section.terms-wrapper > .login-type > h4 {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
    line-height: 3rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
}
#account > section.terms-wrapper > .login-type > .naver {
    background: #19CE60;
    color: #ffffff;
}
#account > section.terms-wrapper > .login-type > .kakao {
    background: #FAE100;
    color: #3C1E1E;
}
#account > section.terms-wrapper > ul {
    width: 87vw;
    margin: 0 auto;
}
#account > section.terms-wrapper > ul > li {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 0.4rem 0.8rem;
    margin-bottom: 0.7rem;
    border-radius: 0.7rem;
}
#account > section.terms-wrapper > ul > li > p {
    font-size: 1.05rem;
    transition-duration: 0.2s;
}
#account > section.terms-wrapper > ul > li.active > p {
    color: var(--base-color);
}
#account > section.terms-wrapper > ul > li > a {
    font-size: 0.9rem;
    padding-left: 0.5rem;
    color: #06c;
    
}
#account > section.terms-wrapper > ul > li > i {
    flex-grow: 1;
    text-align: right;
    opacity: 0;
    transition-duration: 0.2s;
}
#account > section.terms-wrapper > ul > li.active > i {
    color: var(--base-color);
    opacity: 1.0;
}
#account > section.terms-wrapper > ul > li.active {
    opacity: 1;
    border-color: var(--base-color);
}
#account > section.terms-wrapper > button {
    all: unset;
    width: 91vw;
    background-color: var(--base-color);
    color: #fff;
    padding: 0.6rem 0;
    border-radius: 8px;
    font-size: 1.2rem;
    opacity: 0.3;
    transition-duration: 0.2s;
}
#account > section.terms-wrapper > button.active {
    opacity: 1.0
}