section#After {
    background: #f0f2f5;
    min-height: 100vh;
}
section#After > header {
    padding: 1.7rem 1rem 0 1.7rem;
}
section#After > header > div {
    display: flex;
    align-items: center;
}
section#After > header > div > h1 {
    flex-grow: 1;
    font-size: 1.8rem;
    font-weight: 600;
}
section#After > header > div > i {
    padding: 0.8rem 1rem;
    font-size: 2.0rem;

}
section#After > header > p {
    opacity: 0.7;
    margin-bottom: 4px;
}

/*      article     */
section#After > article {
    margin-top: 2rem;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    background: #ffffff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 0%);
}
section#After > article > .loaderFrame, section#After > article > .After-none {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

section#After > article > .loaderFrame > .loader  {
    width: 1.8rem;
    height: 1.8rem;
    border: 2px solid #000000;
    border-top: 2px solid #00000000;
}
section#After > article > .func-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #dbdbdb;
}
section#After > article > .func-btn-wrapper > button {
    all: unset;
    padding: 0.4rem 0.5rem;
    color: #ff000080;
}
section#After > article > .func-btn-wrapper > button > p {
    padding: 0.4rem 1rem;
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: 2rem;
}
section#After > article > .func-btn-wrapper > button.on > p {
    background: #00966B;
    color: #fff;
}
section#After > article > ul > li {
    display: flex;
    align-items: center;
    border-top: 1px solid #dbdbdb;
    transition-duration: 0.4s;
    position: relative;
    left: 0;
}
section#After > article > ul > li:first-child {
    border: none;
}
section#After > article > ul > li.remove {
    left: -100%;
}
section#After > article > ul > li > div {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 1rem;
    top: 0;
    left: 0;
    z-index: 800;
    background-color: #fff;
    transition-duration: 0.4s;
}
section#After > article > ul.on > li > div { 
    left: -4rem;
}
section#After > article > ul > li > div > .info-frame {
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    padding: 0.9rem 0;
}
section#After > article > ul > li > div > .info-frame > .title {
    flex-grow: 1;
    overflow: hidden;
}
section#After > article > ul > li p {
    font-size: 0.9rem;
    opacity: 0.7;
    overflow: hidden;
    white-space: nowrap;
}
section#After > article > ul > li h1 {
    font-size: 1.2rem;
    font-weight: 500;
    overflow-x: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
}
section#After > article > ul > li > div > a {
    padding: 1.2rem 0.8rem 1rem 0.8rem;
}
section#After > article > ul > li > div > a > i {
    font-size: 1.4rem;
}
section#After > article > ul > li > button {
    all: unset;
    z-index: 700;
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    height: 100%;
    background-color: #dd1818;
    overflow: hidden;
    text-align: center;
    color: #ffffff;
}
section#After > .remove-wrapper {
    position: fixed;
    width: 100%;
    height: 8rem;
    background-color: #ffffff;
    border-bottom: 1px solid #dbdbdb;
    z-index: 999;

    top: -9rem;
    transition-duration: 0.4s;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section#After > .remove-wrapper.on {
    top: 0rem;
}
section#After > .remove-wrapper > .msg {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
section#After > .remove-wrapper > .msg > h1 {
    font-size: 1.4rem;
    font-weight: 300;
}
section#After > .remove-wrapper > .confirm {
    display: flex;
    align-items: center;
    width: 100%;
}
section#After > .remove-wrapper > .confirm > div {
    flex-grow: 1;
    text-align: center;
    padding: 0.5rem 0;
    border-top: 1px solid #dbdbdb;
    font-size: 1.2rem;
}