.caution-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    
    position: fixed;
    width: 100%;
    height: auto;
}
.caution-wrapper.on {
    height: 100%;
}
.caution-wrapper > .caution-closer {
    flex-grow: 0;
}
.caution-wrapper.on > .caution-closer {
    flex-grow: 1;
}
.caution-wrapper > .caution-frame {
    text-align: center;
    position: absolute;
    width: 100%;
    padding: 2rem 0;
    background: #ffffff;
    top : -10rem;
    left : 0;
    transition-duration: 0.4s;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 0%);
}
.caution-wrapper.on > .caution-frame {
    top: 0;
}
.caution-wrapper > .caution-frame > p {
    color: #ff0000;
    font-size: 1.2rem;
}