.caution-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    
    position: fixed;
    width: 100%;
    height: auto;
}
.caution-wrapper.on {
    height: 100%;
}
.caution-wrapper > .caution-closer {
    flex-grow: 0;
}
.caution-wrapper.on > .caution-closer {
    flex-grow: 1;
}
.caution-wrapper > .caution-frame {
    text-align: center;
    position: absolute;
    width: 100%;
    padding: 2rem 0;
    background: #ffffff;
    top : -10rem;
    left : 0;
    transition-duration: 0.4s;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 0%);
}
.caution-wrapper.on > .caution-frame {
    top: 0;
}
.caution-wrapper > .caution-frame > p {
    color: #ff0000;
    font-size: 1.2rem;
}

/*      Alert       */
section > .alert-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;;
    width: 100%;
    height: auto;
    z-index: 999;
}
section > .alert-wrapper.on {
    height: 100%;
}
section > .alert-wrapper > .alert-frame {
    position: absolute;
    top: -13rem;
    left: 0;

    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: #fff;
    border-bottom: 1px solid #dbdbdb;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    transition-duration: 0.4s;
}
section > .alert-wrapper > .alert-frame > i {
    font-size: 3.0rem;
}
section > .alert-wrapper > .alert-frame > h1 {
    font-size: 1.3rem;
    padding-bottom: 1rem;
}
section > .alert-wrapper > .alert-frame > button {
    all: unset;
    width: 90%;
    padding: 0.8rem 0;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    background: #00966B;
    color: #fff;
}
section > .alert-wrapper.on > .alert-frame {
    top: 0;
}
section > .alert-wrapper > .alert-closer {
    flex-grow: 0;
}
section > .alert-wrapper.on > .alert-closer {
    flex-grow: 1;

}