section#Help {
    background: #f0f2f5;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
section#Help > .back {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5rem;
}
section#Help > header {
    padding: 3rem 2rem 0.5rem 2rem;
}
section#Help > header > h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

section#Help > article {
    flex-grow: 1;
}
section#Help > article > div.account-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
    
}
section#Help > article > div.account-wrapper > button, section#Help > article > div.account-wrapper > a {
    all: unset;
    text-align: center;
    background: #00966B;
    color: #fff;
    margin: 0 2rem;
    padding: 1rem 0;
    border-radius: 0.3rem;
    cursor: pointer;
}
section#Help > article > div.account-wrapper > a > p, section#Help > article > div.account-wrapper > button > p {
    font-size: 1.1rem;
    font-weight: 200;
}
section#Help > article > div.connect-wrapper {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}
section#Help > article > div.connect-wrapper > div {
    border-bottom: 2px solid #00000050;
    margin-bottom: 1.5rem;
}
section#Help > article > div.connect-wrapper > div > a {
    all: unset;
}
section#Help > article > div.connect-wrapper > div > a > p {
    font-size: 1.4rem;
    margin-left: 0.3rem;
    padding-bottom: 3px;
}
/*      footer      */
section#Help > footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}
section#Help > footer > div {
    display: flex;
}
section#Help > footer > div > div {
    padding: 3px 0;
    margin: 0 0.5rem;
    border-left: 1px solid #00000050;
}
section#Help > footer > div > a.logo {
    padding: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: 'Montserrat';
}