main#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #f0f2f5;
}
main#home > .loaderFrame {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main#home > .loaderFrame > .loader {
    width: 2rem;
    height: 2rem;
    border: 2px solid #000000;
    border-top: 2px solid #00000000;
}
/*      section     */
main#home > header {
    text-align: center;
}
main#home > header > i {
    font-size: 2.6rem;
    margin-top: 0.5rem;
    padding: 1rem;
}
main#home > header > .login-wrapper, main#home > header > .user-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -15rem;
    left: 0;
    transition-duration: 0.4s;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 0%);
}
main#home > header > .login-wrapper {
    padding: 1rem;
}
main#home > header > .login-wrapper.active, main#home > header > .user-wrapper.active  {
    top: 0;
}
main#home > header > .login-wrapper > i {
    font-size: 3.0rem;
    margin-bottom: 0.5rem;
}
main#home > header > .login-wrapper > p {
    font-size: 1.2rem;
}
main#home > header > .login-wrapper > a {
    all: unset;
    color: #ffffff;
    background: #00966B;
    font-size: 1.3rem;
    width: 80%;
    margin-top: 0.5rem;;
    padding: 0.7rem 0;
    border-radius: 0.5rem;
}
main#home > header > .user-wrapper {
    width: 100%;
    display: flex;
    align-items: stretch;
}
main#home > header > .user-wrapper > .user-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1.3rem 0 0.8rem 1.3rem;
}
main#home > header > .user-wrapper > .user-title > i {
    font-size: 3.8rem;
    color: #00000070;
}
main#home > header > .user-wrapper > .user-title > div {
    padding-left: 9px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}
main#home > header > .user-wrapper > .user-title > div > p {
    position: relative;
    top: 0;
    color: #888888;
}
main#home > header > .user-wrapper > .user-title > div > div {
    display: flex;
    align-items: flex-end;
}
main#home > header > .user-wrapper > .user-title > div > div > h1 {
    white-space: nowrap;
    font-size: 1.7rem;
    font-weight: 600;
}
main#home > header > .user-wrapper > .user-title > div > div > p {
    position: relative;
    bottom: 3px;
    left: 5px;
}
main#home > header > .user-wrapper > .user-title > a {
    padding: 1.5rem;
}
main#home > header > .user-wrapper > .user-title > a > i {
    font-size: 2.0rem;
    color: #000000;
    opacity: 0.3;
}
main#home > header > .user-wrapper > .user-btn-frame {
    display: flex;
    align-items: center;
}
main#home > header > .user-wrapper > .user-btn-frame > a {
    all: unset;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-top: 1px solid #dbdbdb;
    padding: 1.0rem 0;
    color: #000000;
}
main#home > header > .user-wrapper > .user-btn-frame > a > i {
    opacity: 0.3;
    font-size: 1.4rem;
    margin-right: 0.3rem;
}
main#home > header > .user-wrapper > .user-btn-frame > a > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.1rem;
}
    /*      section     */
main#home > section {
    flex-grow: 1;
}


main#home > section#Main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
main#home > section#Main > #search-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6rem;
    width: 100%;
}
main#home > section#Main h1 {
    font-size: 1.8rem;
    font-weight: 600;
}
main#home > section#Main #search-input-wrapper {
    width: 100%;
    margin-top: 1.2rem;
    padding: 0 1rem;
}
main#home > section#Main #search-input-wrapper > #search-input-frame {
    height: auto;
    display: flex;
    border-radius: 6px;
    border: 1px solid #dbdbdb;
    padding: 0.7rem 1rem;
    background: #ffffff;
    font-size: 1.1rem;
    color: #00000090;
}
main#home > section#Main #search-input-wrapper > #search-input-frame > input {
    flex-grow: 1;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    transition-duration: 0.2s;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
main#home > section#Main #search-input-wrapper > #search-input-frame > button {
    background: #00966B;
    color: #fff;
    font-size: 1.0rem;
    font-weight: 400;
    padding: 0 1rem;
    margin-left: 0.5rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition-duration: 0.2s;
    opacity: 1;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
main#home > section#Main #search-input-wrapper > #search-input-frame > button.off {
    color: #00966B;
    font-size: 0;
    padding: 0;
    margin-left: 0;
    opacity: 0;
}
