section#Menu {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    z-index: 998;
}
section#Menu.active {
   width: 100%;
}
section#Menu > .menu-closer {
    flex-grow: 0;
}
section#Menu.active > .menu-closer {
    flex-grow: 1;
}
section#Menu > .menu-frame {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -15rem;
    width: 12rem;
    height: 100%;
    background-color: #fff;
    transition-duration: 0.4s;
    border-left: 1px solid #dbdbdb;
    padding-left: 1rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
section#Menu > .menu-frame li {
    padding-bottom: 0.5rem;
}
/*      article     */
section#Menu.active > .menu-frame {
    right: 0;
}
section#Menu > .menu-frame > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    width: 100%;
}
section#Menu > .menu-frame > div > i {
    font-size: 1.9rem;
    position: relative;
    top: -1px;
}
/*      header      */
section#Menu > .menu-frame > footer {
    padding-bottom: 1.5rem;
}
/*      article     */
section#Menu > .menu-frame > article {
    flex-grow: 1;
}
/*      footer     */
section#Menu > .menu-frame > footer {
    
}
section#Menu > .menu-frame li a {
    color: #000000;
    font-size: 1.5rem;
    font-weight: 600;
    overflow-x: hidden;
    white-space: nowrap;
}
section#Menu > .menu-frame h1, section#Menu > .menu-frame h2 {
    font-size: 1.5rem;
    font-weight: 600;
    overflow-x: hidden;
    white-space: nowrap;
}
section#Menu > .menu-frame h2 {
    color: var(--base-color);
}
