#View {
    width: 100%;
    height: 100%;
    background: #f0f2f5;
    position: relative;
}

/*      Top     */
#View > nav#Compare-nav {
    width: 100%;
    padding: 1rem 1rem 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#View > nav#Compare-nav > div#Compare-top {
    display: flex;
    justify-content: flex-end;
    z-index: 991;
}
#View > nav#Compare-nav > div#Compare-top > .nav-element {
    display: flex;
    align-items: center;
    margin-right: 0.8rem;
    position: relative;
}
#View > nav#Compare-nav > div#Compare-top > .nav-element > i {
    font-size: 2.5rem;
    color: #000000;
}
#View > nav#Compare-nav > div#Compare-top > .nav-element#logo {
    flex-grow: 1;
}
#View > nav#Compare-nav > div#Compare-top > .nav-element#logo > a {
    all: unset;
    color: #000000;
    font-size: 1.4rem;
    font-weight: 500;
}

/*      Bottom - MyProduct     */
#View > div#myProduct-nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 992;
    display: flex;
    flex-direction: column;
    height: auto;
}
#View > div#myProduct-nav-wrapper.active {
    height: 100%;
}
#View > div#myProduct-nav-wrapper > .navCloser {
    flex-grow: 0;
}
#View > div#myProduct-nav-wrapper.active > .navCloser {
    flex-grow: 1;
}
#View > div#myProduct-nav-wrapper > .myProductNav {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    bottom: 1.5rem;
    right: 1.5rem;
}
#View > div#myProduct-nav-wrapper.active > .myProductNav {
    width: 100%;
    border-radius: 0;
    height: 5.8rem;
    bottom: 0;
    right: 0;
}
#View > div#myProduct-nav-wrapper > .myProductNav > * {
    transition-duration: 0.6s;
    opacity: 0;
}
#View > div#myProduct-nav-wrapper.active > .myProductNav > * {
    opacity: 1;
}
#View > div#myProduct-nav-wrapper > nav.myProductNav > button {
    all: unset;
    width: 100%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    color: #fff;
    transition-duration: 0.6s;
}
#View > div#myProduct-nav-wrapper.active > nav.myProductNav > button {
    opacity: 1;
}

/*
    Product ADs
*/
#View > #ADs {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 2rem 0 7rem 0;
}
#View > #ADs > h1 {
    padding-left: 1rem;
    font-size: 1.3rem;
    font-weight: 400;
    align-self: flex-start;
}
#View > #ADs > ul {
    width: 98vw;
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
#View > #ADs > ul > li {

}
#View > #ADs > ul > li > a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#View > #ADs > ul > li > a > img {
    width: 15rem;
    height: 18rem;
    max-width: 90%;
    overflow: hidden;
    border-radius: 1rem;
    object-fit: cover;
}
#View > #ADs > ul > li > a > p {
    overflow: hidden;
    text-align: center;
    width: 9rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#View > #ADs > a {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    align-self: flex-end;
    padding-right: 1rem;
}

#View > #ADs > a > p {
    font-size: 1.2rem;
}