section#Search {
    width: 100%;
    min-height: 100%;
    background: #f0f2f5;
    padding-bottom: 5rem;
}
#Search > .inputWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #dbdbdb;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 0%);
}
#Search > .inputWrapper > input {
    all: unset;
    flex-grow: 1;
    font-size: 1.3rem;
    padding: 1rem 0;
}
#Search > .inputWrapper > i {
    padding: 1rem 0.5rem;
    color: #000;
}
#Search > .inputResult {
    width: 100%;
    min-height: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;
}
#Search > .inputResult > .loader {
    border: 3px solid black;
    border-top: 3px solid #00000000;
    width: 2rem;
    height: 2rem;
}
#Search > .inputResult > h1.logo {
    font-weight: 600;
    font-size: 1.7rem;
    opacity: 0.2;
}
#Search > .inputResult > .Search-success {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#Search > .inputResult > .Search-success > p {
    position: relative;
    top: 0.15rem;
    margin-left: 0.1rem;
    font-size: 0.9rem;
    font-weight: 300;
    color: #000;
}
#Search > .inputResult > .Search-success > h1 {
    font-size: 1.8rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-weight: 400;
    color: #000;
}
#Search > .inputResult > .Search-success > div {
    display: flex;
    align-items: center;
    color: #00000090;
    margin-left: 0.1rem;
}
#Search > .inputResult > .Search-success > div > p {
    font-size: 0.9rem;
    font-weight: 300;
}
#Search > .inputResult > .Search-success > div > b {
    margin: 0 0.3rem;
}
#Search > .inputResult > .Search-none {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Search > .inputResult > .Search-none > i {
    font-size: 2.5rem;
    opacity: 0.7;
}
#Search > .inputResult > .Search-none > p {
    font-size: 1.1rem;
}

/*      Current     */
#Search > .currentWrapper {
    background: #ffffff;
    border-bottom: 1px solid #dbdbdb;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 0%);
}
#Search > .currentWrapper > .Search-currentNav {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}
#Search .Search-currentNav > h1 {
    font-size: 1.2rem;
    font-weight: 400;
    flex-grow: 1;
}
#Search .Search-currentNav > button {
    all: unset;
    color: #ffffff;
    margin: 0.3rem 0;
    padding: 0.5rem 0;
    transition-duration: 0.3s;
}
#Search .Search-currentNav > button.save {
    border-radius: 2rem;
    background: #00966B;
    color: #ffffff;
    padding: 0.5rem 1.3rem;
}
#Search .Search-currentNav > button.delete {
    border-radius: 2rem;
    color: #ff000080;
}
#Search .Search-currentNone {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}
#Search .Search-currentElement {
    display: flex;
    align-items: center;
    border-top: 1px solid #dbdbdb;
    padding-left: 1rem;
    transition-duration: 0.4s;
    position: relative;
    left: 0;
}
#Search .Search-currentElement.remove {
    left: -100%;
    transition-duration: 0;
}
#Search .Search-currentElement > .Search-currentInfoFrame {
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    padding: 0.8rem 0;
}
#Search .Search-currentElement > .Search-currentInfoFrame > .Search-currentName {
    flex-grow: 1;
}
#Search .Search-currentElement > .Search-currentInfoFrame > div {
    overflow: hidden;
    min-width: 3.5rem;
}   
#Search .Search-currentElement > .Search-currentInfoFrame p {
    font-size: 0.9rem;
    color: #00000080;
    overflow: hidden;
    white-space: nowrap;
}
#Search .Search-currentElement > .Search-currentInfoFrame h1 {
    font-size: 1.2rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
}
#Search .Search-currentElement > .Search-currentBtnFrame > i {
    font-size: 1.35rem;
    color: #000000;
    padding: 1rem;
}
#Search .Search-currentElement > button {
    all: unset;
    width: 0;
    overflow: hidden;
    transition-duration: 0.3s;
    text-align: center;
}
#Search .Search-currentElement > button.active {
    width: 3rem;
    padding: 0.5rem 0.3rem;
}
#Search .Search-currentElement > button > i {
    color: #dd1818;
}
/*      after   */
section#Search > .hn {
    all : unset;
    background-color: #fff;
    
    display: flex;
    align-items: center;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
section#Search > .hn > div    {
    all: unset;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.8rem 1rem;
}
section#Search > .hn > div > p {
    flex-grow: 1;
    font-size: 1.2rem;
    font-weight: 400;
    color: #000;
}
section#Search > .hn > div > i {
    font-size: 1.6rem;
}

/*      Alert       */
section#Search > .alert-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;;
    width: 100%;
    height: auto;
    z-index: 999;
}
section#Search > .alert-wrapper.on {
    height: 100%;
}
section#Search > .alert-wrapper > .alert-frame {
    position: absolute;
    top: -15rem;
    left: 0;

    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    background: #fff;
    border-bottom: 1px solid #dbdbdb;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    transition-duration: 0.4s;
}
section#Search > .alert-wrapper > .alert-frame > i {
    font-size: 3.0rem;
}
section#Search > .alert-wrapper > .alert-frame > h1 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
section#Search > .alert-wrapper > .alert-frame > button {
    all: unset;
    width: 90%;
    padding: 0.8rem 0;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    background: #00966B;
    color: #fff;
}
section#Search > .alert-wrapper.on > .alert-frame {
    top: 0;
}
section#Search > .alert-wrapper > .alert-closer {
    flex-grow: 0;
}
section#Search > .alert-wrapper.on > .alert-closer {
    flex-grow: 1;

}