section#AddProduct {
    background: #f0f2f5;
    min-height: 100vh;
}

/*      Nav     */
section#AddProduct > footer {
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
}
/*
    CONTROL
*/
section#AddProduct > footer > .control-wrapper {
    position: relative;
    background: #f0f2f590;
    display: flex;
    align-items: center;
    padding-bottom: 1.2rem;
}
section#AddProduct > footer > .control-wrapper > button {
    all: unset;
    position: absolute;
    left: 0;
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
    font-weight: 400;
    color: #888888;
}

section#AddProduct > footer > .control-wrapper > div {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
section#AddProduct > footer > .control-wrapper > div > .dot {
    width: 0.4rem;
    height: 0.4rem;
    background-color: #989898;
    margin: 0 0.3rem;
    transition-duration: 0.3s;
}
section#AddProduct > footer > .control-wrapper > div > .dot.on {
    width: 0.7rem;
    height: 0.7rem;
    background-color: #00966B;
}



/*
    PREVIEW
*/
section#AddProduct > footer > .preview-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    z-index: 998;
}
section#AddProduct > footer > .preview-wrapper > nav {
    position: relative;
    height: auto;
}
section#AddProduct > footer > .preview-wrapper > div {
    text-align: center;
    padding: 0.4rem 0;
    background: #00966B;
    border-bottom: 1px solid #dbdbdb;
}
section#AddProduct > footer > .preview-wrapper > div > p {
    color: #ffffff;
    font-weight: 400;
}