section#AddProduct > article > i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem 1.5rem;
    font-size: 2.0rem;
}
/*
    HEADER
*/
section#AddProduct > article > .step-wrapper > header {
    padding: 2rem 0 0.8rem 1.8rem;
}
section#AddProduct > article > .step-wrapper > header > h1 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
}
section#AddProduct > article > .step-wrapper > header > p {
    color: #444;
    font-size: 0.9rem;
    margin-bottom: 3px;
    margin-left: 2px;
}
/*
    HELP
*/
section#AddProduct > article > .step-wrapper > .help-wrapper {
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
}
section#AddProduct > article > .step-wrapper > .help-wrapper > li {
    background: #fff;
    margin: 0.7rem 1rem;
    padding: 0.7rem;
    border: 1px solid #dbdbdb;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}
section#AddProduct > article > .step-wrapper > .help-wrapper > li > i {
    font-size: 1.8rem;
    color: #aaa;
    padding-right: 0.3rem;
}
section#AddProduct > article > .step-wrapper > .help-wrapper > li > div {
    font-size: 0.9rem;
    font-weight: 500;
}
/*
    MAIN
*/
section#AddProduct > article > .step-wrapper > main > div {
    padding-bottom: 1rem;
}
section#AddProduct > article > .step-wrapper > main > div > p {
    display: flex;
    align-items: center;
}

/*
    Main
*/
section#AddProduct > article > .step-wrapper > main {
    padding-bottom: 2rem;
}


/*
    APPLY
*/
section#AddProduct > article .apply-frame {
    margin: 0 1rem;
}
section#AddProduct > article .apply-frame > button {
    all: unset;
    width: 100%;
    padding: 0.9rem 0;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    background-color: var(--base-color);
    color: #ffffff;
    transition-duration: 0.3s;
    cursor: pointer;
}
section#AddProduct > article .apply-frame > button:disabled {
    background-color: var(--system-gray-1);
    color: #00000040;
}
