/*
    STEP1 - MAIN
*/
#AddProduct > article > .step1 > main > label > input{
    display: none;
}
#AddProduct > article > .step1 > main > label > h2 {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}
#AddProduct > article > .step1 > main > label.on > h2 {
    opacity: 1;
}
#AddProduct > article > .step1 > main > label > h2 > p {
    font-weight: 500;
}
#AddProduct > article > .step1 > main > label > h2 > i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    margin-right: 0.5rem;
    background: var(--base-color);
    color: #ffffff;
    border-radius: 50%;
    font-size: 1.3rem;
    transition-duration: 0.3s;
}
#AddProduct > article > .step1 > main > label.on > h2 > i {
    width: 2rem;
    height: 2rem;
}
/*
    INPUT URL
*/ 
#AddProduct > article > .step1 > main > label > div {
    overflow-y: hidden;
    height: 0;
}
#AddProduct > article > .step1 > main > label.on > div {
    height: 100%;
}
#AddProduct > article > .step1 > main > label > h2 {
    font-size: 1.9rem;
    font-weight: 400;
    margin-left: 2rem;
    opacity: 0.4;
    transition-duration: 0.4s;
}
#AddProduct > article > .step1 .input-frame {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem 0.3rem 1rem;
    margin: 1rem;
}
#AddProduct > article > .step1 .input-frame > input {
    all: unset;
    flex-grow: 1;
    font-size: 1.3rem;
}
#AddProduct > article > .step1 .input-frame > i {
    color: #fff;
    width: 4rem;
    text-align: center;
    padding: 0.3rem 0;
    background-color: #888;
    border-radius: 1.5rem;
}
/*
    Result 
*/
#AddProduct > article > .step1 article > p {
    padding-left: 2rem;
    font-size: 1.2rem;
    color: var(--base-color);
}
#AddProduct > article > .step1 article > div {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 0.5rem;
    margin: 0.5rem 1rem;
}
#AddProduct > article > .step1 article > div > div.info-frame {
    padding: 1rem 1rem 0 1.3rem;
}
#AddProduct > article > .step1 article > div > div.info-frame > p {
    font-size: 1.0rem;
    font-weight: 500;
    color: #555;
}
#AddProduct > article > .step1 article > div > div.info-frame > h1 {
    font-size: 1.7rem;
    font-weight: 600;
}
#AddProduct > article > .step1 article > div > div.size-frame {
    display: flex;
    overflow-x: auto;
}
#AddProduct > article > .step1 article > div > div.size-frame > label {
    padding-left: 1rem;
}
#AddProduct > article > .step1 article > div > div.size-frame > label:last-of-type {
    padding-right: 1rem;
}
#AddProduct > article > .step1 article > div > div.size-frame > label > p {
    font-size: 5.3rem;
    font-weight: 400;
    transition-duration: 0.4s;
    opacity: 0.2;
}
#AddProduct > article > .step1 article > div > div.size-frame > label.on > p {
    opacity: 1.0;
}
#AddProduct > article > .step1 article > div > div.size-frame > label > input {
    display: none;
}
#AddProduct > article > .step1 > main > div.on > p {
    opacity: 1.0;
}