#AddProduct > article > .step4 {
    padding-bottom: 9rem;
}
#AddProduct > article > .step4 > main {
    margin: 0 1rem;
    height: 100%;
}
#AddProduct > article > .step4 > main > div > ul {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}
#AddProduct > article > .step4 > main > div > ul > li {
    display: flex;
    align-items: center;
    height: 3.5rem;
    overflow: hidden;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

#AddProduct > article > .step4 > main > div > ul > li > h1 {
    font-size: 1.6rem;
    font-weight: 600;
    opacity: 0.3;
}
#AddProduct > article > .step4 > main > .name > ul > li.on > h1 {
    font-weight: 600;
    opacity: 1;
    margin-left: 1rem;
    color: var(--base-color);
}

#AddProduct > article > .step4 > main > div > ul.close > li:not(.on) {
    height: 0rem;
}

/*
    name
*/
#AddProduct > article > .step4 > main > .name > ul > li > .dot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    background-color: var(--base-color);
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}
#AddProduct > article > .step4 > main > .name > ul > li.on > .dot {
    width: 1.7rem;
    height: 1.7rem;
}
#AddProduct > article > .step4 > main > .name > ul > li > .dot > i {
    color: #ffffff;
    font-size: 1.3rem;
}

/*
    직접 입력
*/
#AddProduct > article > .step4 > main > .name > .input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    background: #fff;
    padding: 1rem 1rem 0.8rem 1rem;
    border: 1px solid #dbdbdb;
    margin-top: 0.7rem;
    border-radius: 0.5rem;
}
#AddProduct > article > .step4 > main > .name > .input-wrapper > input {
    all: unset;
    width: 100%;
    font-size: 1.3rem;
    padding: 0 0.3rem;
}
/*
    SIZE
*/
#AddProduct > article > .step4 > main > .size > .title {
    padding: 0 1rem;
    margin-bottom: 1rem;
    opacity: 0;
    transition-duration: 0.3s;
}
#AddProduct > article > .step4 > main > .size.on > .title {
    opacity: 1;
}
#AddProduct > article > .step4 > main > .size > .title > div {
    display: flex;
    align-items: center;
}
#AddProduct > article > .step4 > main > .size > .title > div > h2 {
    margin-top: 1rem;
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
    flex-grow: 1;
}
#AddProduct > article > .step4 > main > .size > .title > div > i {
    font-size: 2.3rem;
    opacity: 0.25;
    padding: 0.1rem 0 0.1rem 0.5rem
}
#AddProduct > article > .step4 > main > .size > .title > div > i.on {
    opacity: 1;
    color: var(--base-color);
}
#AddProduct > article > .step4 > main > .size > .title > p {
    color: #555;
        margin-left: 2px;

}
#AddProduct > article > .step4 > main > .size > ul > li {
    height: 0rem;
}
#AddProduct > article > .step4 > main > .size.on > ul > li {
    height: 3.5rem
}
#AddProduct > article > .step4 > main > .size > ul > li > .dot {
    background: #00966B;
    width: 0;
    height: 0;
    border-radius: 50%;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

#AddProduct > article > .step4 > main > .size > ul > li.on > .dot {
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.7rem;

}
#AddProduct > article > .step4 > main > .size > ul > li.on > h1 {
    font-weight: 600;
    font-size: 1.8rem;
    opacity: 1;
    color: var(--base-color);
}
#AddProduct > article > .step4 > main > .size > ul > li > input {
    all: unset;
    margin-left: 1rem;
    width: 0;
    overflow: hidden;
    font-size: 1.5rem;
    border-bottom: 2px solid #aaa;
    font-family: 'Montserrat';
    text-align: center;
    transition-duration: 0.4s;

}
#AddProduct > article > .step4 > main > .size > ul > li.on > input {
    width: 35%;
}
#AddProduct > article > .step4 > main > .size > button {
    all: unset;
    margin-top: 2rem;
    width: 100%;
    padding: 0.9rem 0;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    background-color: var(--system-gray-1);
    background-color: var(--system-gray-3);
    color: #000;
    cursor: pointer;
}

