section#AddProduct > article > .step1 > main > .selectOption > div {
    overflow-y: hidden;
    height: 0;
}
section#AddProduct > article > .step1 > main > .selectOption.on > div {
    height: 100%;
}
section#AddProduct > article > .step1 > main > div > p {
    font-size: 1.9rem;
    font-weight: 400;
    margin-left: 2rem;
    opacity: 0.5;
    transition-duration: 0.4s;
}
section#AddProduct > article > .step1 .select-column-wrapper {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 0.5rem 0;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    margin: 1rem 0;
}
section#AddProduct > article > .step1 .row-input-frame {
    display: flex;
    align-items: center;
    padding: 0.3rem 2rem 0.3rem 2rem;
    border-bottom: 2px solid #ccc;
}
section#AddProduct > article > .step1 .row-input-frame > input {
    all: unset;
    flex-grow: 1;
    font-size: 1.2rem;
}
section#AddProduct > article > .step1 .row-input-frame > i {
    color: #888;
}
section#AddProduct > article > .step1 .select-column-wrapper > p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 1rem;
    margin-top: 0.5rem;
    color: #00966B;
}
section#AddProduct > article > .step1 .select-column-wrapper > .shop-info-frame {
    margin-top: 0.5rem;
}
section#AddProduct > article > .step1 .select-column-wrapper > .shop-info-frame > p {
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: 1.1rem;
    color: #888;
}
section#AddProduct > article > .step1 .select-column-wrapper > .shop-info-frame > h1 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-left: 1rem;
}
section#AddProduct > article > .step1 .select-column-wrapper > ul {
    display: flex;
    overflow-x: auto;
}
section#AddProduct > article > .step1 .select-column-wrapper > ul > li {
    padding-left: 1rem;
}
section#AddProduct > article > .step1 .select-column-wrapper > ul > li > p {
    font-size: 5.0rem;
    font-family: Montserrat;
    font-weight: 400;
    transition-duration: 0.4s;
    opacity: 0.3;
}
section#AddProduct > article > .step1 .select-column-wrapper > ul > li.on > p {
    opacity: 1.0;
}
section#AddProduct > article > .step1 > main > div.on > p {
    opacity: 1.0;
}
/*      검색 결과 없음    */
section#AddProduct > article > .step1 .select-column-wrapper > .no-data {
    text-align: center;
    padding: 1.5rem 0;
}
section#AddProduct > article > .step1 .select-column-wrapper > .no-data > i {
    font-size: 3.0rem;
    color: #888;
}