section#UserProduct {
    background: #f0f2f5;
    min-height: 100vh;
}
/*      header      */
section#UserProduct > header {
    padding: 2rem 1rem 2rem 2rem;
    display: flex;
}
section#UserProduct > header > .title {
    flex-grow: 1;
}
section#UserProduct > header > .title > h1 {
    font-size: 1.7rem;
}
section#UserProduct > header > .title > .name {
    font-weight: 600;
}
section#UserProduct > header > i {
    padding: 0 0.5rem;
    font-size: 2.0rem;
}

/*      article     */

section#UserProduct > article > .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    background: #ffffff;
    text-align: center;
    padding: 2rem 0;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 0%);
}
section#UserProduct > article > .empty > p {
    font-size: 1.2rem;
    margin-top: 0.2rem;
}
section#UserProduct > article > .empty > i {
    font-size: 5.0rem;
    color: #88888880;
    margin-bottom: 0.5rem;
}
section#UserProduct > article > .empty > a {
    all: unset;
    background: #00966B;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.8rem 0;
    width: 90%;
    margin-top: 0.8rem;
    border-radius: 2rem;
    color: #ffffff
}
section#UserProduct > article > .loaderFrame > .loader {
    margin: 0 auto;
    width: 2rem;
    height: 2rem;
    border: 2px solid #888888;
    border-top: 2px solid #00000000;
}

/*
    상단 네비게이션
*/
section#UserProduct > article .list-nav {
    background: #fff;
    top: 0;
    width: 100%;
    text-align: right;
    position: sticky;
    border-top: 1px solid #dbdbdb;
}
section#UserProduct > article .list-nav > button {
    all: unset;
    text-align: center;
    padding: 0.2rem 0.5rem;
    transition-duration: 0.3s;

}
section#UserProduct > article .list-nav > button > i {
    padding: 0.4rem 1rem;
    border-radius: 2rem;
    font-size: 1.6rem;
    opacity: 0.3;
    transition-duration: 0.3s;

}
section#UserProduct > article .list-nav > button.on > i {
    background-color: #00966B;
    color: #ffffff;
    opacity: 1;
}
/*
    목록
*/
section#UserProduct > article > .list-wrapper {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 0%);
}
section#UserProduct > article .list-frame {
    background: #fff;
    border-top: 1px solid #dbdbdb;
}
section#UserProduct > article .list-frame:last-child {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 6rem;
}
section#UserProduct > article .list-frame > .cate-nav {
    display: flex;
    align-items: center;
    padding: 0.7rem 1rem;
}
section#UserProduct > article .list-frame > .cate-nav > p {
    font-size: 1.1rem;
    margin-left: 0.5rem;
    font-weight: 500;
    flex-grow: 1;
    opacity: 0.4;
    transition-duration: 0.3s;
}
section#UserProduct > article .list-frame.on > .cate-nav > p {
    opacity: 1;
}
section#UserProduct > article .list-frame > .cate-nav > i {
    opacity: 0.3;
    transition-duration: 0.3s;
}
section#UserProduct > article .list-frame.on > .cate-nav > i {
    opacity: 1;
    -ms-transform: rotate(18deg);
    transform: rotate(180deg);

}
section#UserProduct > article .list-frame > ul {
    height: 0%;
    overflow: hidden;
    transition-duration: 0.5s;
}
section#UserProduct > article .list-frame.on > ul {
    height: 100%;
}
section#UserProduct > article .list-frame > ul > li {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    border: none;
    
    height: 0;
    transition-duration: 0.5s;
}
section#UserProduct > article .list-frame.on > ul > li {
    height: 4.8rem;
    border-top: 1px solid #dbdbdb;
}
section#UserProduct > article .list-frame > ul > li.remove {
    left: -100%;
    height: 0;
}
section#UserProduct > article .list-frame > ul > li.un {
    background: #00000020;
}
section#UserProduct > article .list-frame > ul > li > .info-frame {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #ffffff;
    z-index: 800;
    transition-duration: 0.5s;
}
/*  삭제 수정 transition  */
section#UserProduct > article > .list-wrapper.on > .list-frame > ul > li > .info-frame {
    left: -10rem;
}
section#UserProduct > article .list-frame > ul > li > .info-frame > h2 {
    min-width: 6rem;
    font-size: 2.2rem;
    text-align: center;
}
section#UserProduct > article .list-frame > ul > li > .info-frame > .info {
    overflow: hidden;
    flex-grow: 1;
}
section#UserProduct > article .list-frame > ul > li > .info > .info-frame > p {
    font-size: 0.9rem;
    color: #888888;
    position: relative;
}
section#UserProduct > article .list-frame > ul > li > div > .info > h1 {
    font-size: 1.2rem;
    font-weight: 500;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
section#UserProduct > article .list-frame > ul > li > div > .info > p {
    font-size: 0.9rem;
    opacity: 0.7;
}
section#UserProduct > article .list-frame > ul > li > div > .info > h2 {
    font-size: 0.85rem;
    color: #888888;
    position: relative;
}
section#UserProduct > article .list-frame > ul > li > div > .type {
    padding-left: 0.3rem;
    padding-right: 3.3rem;
}
section#UserProduct > article .list-frame > ul > li > div > .type > p {
    white-space: nowrap;
    font-size: 0.9rem;
}
section#UserProduct > article .list-frame > ul > li > div > a {
    position: absolute;
    right: 0;
    z-index: 999;
    padding: 2.0rem 1rem;
}
section#UserProduct > article .list-frame > ul > li > div > a > i {
    font-size: 1.5rem;
    color: #aaaaaa;
}
section#UserProduct > article .list-frame > ul > li > .btn-wrapper {
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 700;
}
section#UserProduct > article .list-frame > ul > li > .btn-wrapper > button {
    all: unset;
    text-align: center;
    color: #fff;
    width: 4.5rem;
    cursor: pointer;
    z-index: 999;
}
section#UserProduct > article .list-frame > ul > li > .btn-wrapper > button > i {
    font-size: 1.5rem;
}
