#View > section#Main {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#View > section#Main > #search-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}
#View > section#Main #title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#View > section#Main h1 {
    font-size: 2.0rem;
    font-weight: 500;
}
#View > section#Main #search-input-wrapper {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
#View > section#Main #search-input-wrapper > #search-input-frame {
    width: 100%;
    height: auto;
    display: flex;
    align-content: stretch;
}
#View > section#Main #search-input-wrapper > #search-input-frame > input {
    flex-grow: 1;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    transition-duration: 0.2s;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
#View > section#Main #search-input-wrapper > #search-input-frame > button {
    background: #00966B;
    color: #fff;
    font-size: 1.0rem;
    font-weight: 400;
    padding: 0 1rem;
    margin-left: 0.5rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition-duration: 0.2s;
    opacity: 1;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
#View > section#Main #search-input-wrapper > #search-input-frame > button.off {
    color: #00966B;
    font-size: 0;
    padding: 0;
    margin-left: 0;
    opacity: 0;
}
