#View {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #f0f2f5;
}
#View > .loaderFrame {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#View > .loaderFrame > .loader {
    width: 2rem;
    height: 2rem;
    border: 2px solid #000000;
    border-top: 2px solid #00000000;
}
/*      section     */
#View > header {
    text-align: center;
}
#View > header > i {
    font-size: 2.4rem;
    margin-top: 0.5rem;
    padding: 1rem;
}
#View > header > .login-wrapper, #View > header > .user-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -15rem;
    left: 0;
    transition-duration: 0.4s;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 0%);
}
#View > header > .login-wrapper {
    padding: 1rem;
}
#View > header > .login-wrapper.active, #View > header > .user-wrapper.active  {
    top: 0;
}
#View > header > .login-wrapper > i {
    font-size: 3.0rem;
    margin-bottom: 0.5rem;
}
#View > header > .login-wrapper > p {
    font-size: 1.1rem;
}
#View > header > .login-wrapper > a {
    all: unset;
    color: #ffffff;
    background: #00966B;
    font-size: 1.3rem;
    width: 80%;
    margin-top: 0.5rem;;
    padding: 0.7rem 0;
    border-radius: 0.5rem;
}
#View > header > .user-wrapper {
    width: 100%;
    display: flex;
    align-items: stretch;
}
#View > header > .user-wrapper > .user-title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 1.5rem 0 1rem 1.5rem;
}

#View > header > .user-wrapper > .user-title > p {
    font-size: 1.5rem;
    font-weight: 400;
    
}
#View > header > .user-wrapper > .user-title > a {
    padding: 0 0.3rem;
}
#View > header > .user-wrapper > .user-title > a > i {
    font-size: 1.4rem;
    color: #000000;
    opacity: 0.3;
}
#View > header > .user-wrapper > .user-title > i.hover {
    opacity: 1.0;
}
#View > header > .user-wrapper > .user-btn-frame {
    display: flex;
    align-items: center;
}
#View > header > .user-wrapper > .user-btn-frame > a {
    all: unset;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-top: 1px solid #dbdbdb;
    padding: 0.8rem 0;
    color: #000000;
}
    /*      section     */
#View > section {
    flex-grow: 1;
}

/*      logoWrapper     */
#View > .logoWrapper {
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
}
#View > .logoWrapper > a {
    all: unset;
    font-size: 1.7em;
    font-weight: 500;
    color: #000000;
}
#View > section#Main {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#View > section#Main > #search-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}
#View > section#Main h1 {
    font-size: 2.0rem;
    font-weight: 500;
}
#View > section#Main #search-input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    margin-top: 2rem;
}
#View > section#Main #search-input-wrapper > #search-input-frame {
    width: 100%;
    height: auto;
    display: flex;
    border: 1px solid #dbdbdb;
    padding: 0.5rem 1rem;
    background: #ffffff;
}
#View > section#Main #search-input-wrapper > #search-input-frame > p {
    font-size: 1.2rem;
    color: #00000070;
}
#View > section#Main #search-input-wrapper > #search-input-frame > input {
    flex-grow: 1;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    transition-duration: 0.2s;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
#View > section#Main #search-input-wrapper > #search-input-frame > button {
    background: #00966B;
    color: #fff;
    font-size: 1.0rem;
    font-weight: 400;
    padding: 0 1rem;
    margin-left: 0.5rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition-duration: 0.2s;
    opacity: 1;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
#View > section#Main #search-input-wrapper > #search-input-frame > button.off {
    color: #00966B;
    font-size: 0;
    padding: 0;
    margin-left: 0;
    opacity: 0;
}
