section#UserMenu {
    background: #f0f2f5;
    min-height: 100%;
}
section#UserMenu > .back {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5rem;
}
section#UserMenu > header {
    padding: 3rem 2rem 0.5rem 2rem;
}
section#UserMenu > header > h1 {
    font-size: 2.5rem;
    font-weight: 500;
}
section#UserMenu > article > .menu-wrapper {
    padding-top: 0.5rem;
}
section#UserMenu > article > .menu-wrapper > .menu-wrapper-title {
    display: flex;
    align-items: center;
    padding: 0.3rem 1.5rem;
}
section#UserMenu > article > .menu-wrapper > .menu-wrapper-title > h1 {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}
section#UserMenu > article > .menu-wrapper > ul {
    background: #ffffff;
    border-bottom: 1px solid #dbdbdb;
}
section#UserMenu > article > .menu-wrapper > ul > .menu-element {
    all: unset;
    color: #000000;
    padding: 0.6rem 1rem;
    display: flex;
    align-items: center;
    border-top: 1px solid #dbdbdb;
}
section#UserMenu > article > .menu-wrapper > ul > .menu-element > i {
    font-size: 1.6rem;
}
section#UserMenu > article > .menu-wrapper > ul > .menu-element > p {
    margin-left: 0.3rem;
    font-size: 1.1rem;
}