body {
  margin: 0;
  font-family: 'Montserrat', 'AppleSDGothicNeo', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-background : #f0f2f5;
  --base-red : #dd1818;
  --base-color: #00966B;
  --font-en: 'Montserrat';

  /*  GRAY  */
  --system-gray-1 : #cccccc60;
  --system-gray-2 : #cccccc70;
  --system-gray-3 : #cccccc80;

}

ul,ol {
  list-style: none;
}
h1,h2,h3,h4,p,q,a,button,li,input,label {
  word-break: keep-all;
  font-weight: 400;
}
.en {
  font-family: 'Montserrat';
}
html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
#root {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
.dot {
  border-radius: 50%;
  border: none;
}
div.loader {
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-text-fill-color: #000 !important;
}
/*      logoWrapper     */
.logo-wrapper {
  text-align: center;
  margin-bottom: 1rem;
}
.logo-wrapper > a.sizelity_logo {
  width: 3rem;
  height: 3rem;
  background: #00966B;
  border-radius: 5px;
}
.logo-wrapper > a.sizelity_logo > i {
  font-size: 1.8rem;
}
a.sizelity_logo {
  background: var(--base-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
a.sizelity_logo > i {
  color: #ffffff;
}

/*
  Loader
*/
#root > .loader-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--base-background);
}
#root > .loader-frame > .loader {
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  border: 2px solid var(--base-color);
  border-bottom: 2px solid #00000000;
}

/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
##Device = 데스크탑
##Screen = 1281px 이상 해상도 데스크탑
*/

@media (min-width: 1281px) {
  html { font-size: 16px; }
}

/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
##Device = 랩탑, 데스크탑
##Screen = 1025px에서 1280px 사이
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  html { font-size: 16px; }

}

/*
##Device = Tablets, Ipads (portrait),
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(세로),
##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) {
  html { font-size: 16px; }

}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(가로)
##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  html { font-size: 16px; }

}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
##Device = 저해상도 태블릿, 모바일(가로)
##Screen = 481px에서 767px 사이
*/

@media (min-width: 481px) and (max-width: 700px) {
  html { font-size: 16px; }

}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
*/

@media (min-width: 320px) and (max-width: 480px) {
  html { font-size: 14px; }
}